.App {
  text-align: center;
}

.Header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Title {
  font-family: "Lucida Console", "Courier New", monospace;
}

.ButtonGroup button {
  font-family: "Lucida Console", "Courier New", monospace;
  color: white;
  background-color: inherit;
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: center; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.ButtonGroup:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.ButtonGroup button:hover {
  background-color: #26114e;
}